<!doctype html>
<html lang="en">
  <head>
    <title>Event Manager</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/vegas.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <body>
    <!-- The navigation bar begin -->
    <nav class="navbar navbar-expand-lg navbar-custom">
      <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" class="navbar-logo-img mr-2" alt="">
            Event Manager
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
            </ul>
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="events.html" class="nav-link create-recipe-link">Events <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="create-event.html" class="nav-link create-recipe-link">Create Event <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="event-centers-admin.html">Event Centers <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="create-event-center.html">Create Event Centers <span class="sr-only">(current)</span></a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </form>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <img class="mr-2 navbar-profile-image rounded-circle" src="images/avatar.jpg" alt="Event App Developer">
                      Godwin Ekuma
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Sign Out</a>
                    </div>
                </li>
            </ul>
        </div>
      </div>
    </nav>
   <!-- The navigation bar Ends -->

   <!-- Events Center Section Begins -->
   <section class="py-5">
     <div class="container justify-content-center">
       <h1 class="display-4 text-center"> Event Centers</h1>
       <form>
       <div class="form-row my-5">
        <div class="col-lg-4">
         <div class="form-group">
          <input type="Search" name="center-name" id="center-name" class="form-control" placeholder="Enter event center">
         </div>
        </div>
        <div class="col-lg-4">
         <div class="form-group">
          <input type="Search" name="center-location" id="center-location" class="form-control" placeholder="Enter location">
         </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
            <select class="form-control ">
              <option> Sort By</option>
              <option>Parking space</option>
              <option>Air conditioning</option>
              <option>Power Supply</option>
              <option>Security</option>
              </select>
            </div>
        </div>
       </div>
     </form>
     </div>
   </section>
   <!-- Featured Event Centers -->
    <section>
      <div class="container mb-5 ">
        <div class="row">
          <div class="col-sm">
            <div class="card  wow fadeIn" data-wow-duration="4s" style="width: 20rem;">
              <img class="card-img-top" src="images/event-1.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Brava Event Center</h4>
                <p class="card-text lead">
                 <i class="ion ion-ios-location"></i>
                 Ikeja, Lagos</p>
                <div class="row">
                  <div class="col-sm text-left">
                    <p class="lead  d-flex flex-column">500 <span> Guests </span></p>
                  </div>
                  <div class="col-sm text-right">
                    <a href="#" class="btn btn-primary">More Details</a>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card  wow fadeIn" data-wow-duration="4s" style="width: 20rem;">
              <img class="card-img-top" src="images/event-2.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Euphoria Event Place</h4>
                <p class="card-text lead">
                 <i class="ion ion-ios-location"></i>
                 Ikeja, Lagos</p>
                <div class="row">
                  <div class="col-sm text-left">
                    <p class="lead  d-flex flex-column">500 <span> Guests </span></p>
                  </div>
                  <div class="col-sm text-right">
                    <a href="#" class="btn btn-primary">More Details</a>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card  wow fadeIn" data-wow-duration="4s" style="width: 20rem;">
              <img class="card-img-top" src="images/event-3.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Classique Events Place </h4>
                <p class="card-text lead">
                 <i class="ion ion-ios-location"></i>
                 Ikeja, Lagos</p>
                <div class="row">
                  <div class="col-sm text-left">
                    <p class="lead  d-flex flex-column">500 <span> Guests </span></p>
                  </div>
                  <div class="col-sm text-right">
                    <a href="#" class="btn btn-primary">More Details</a>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Featured Event Center Ends -->

    <!-- Pagination links  -->
                <nav class="row mt-5 justify-content-center mb-5">
                    <ul class="pagination pagination-lg">
                        <li class="page-item">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item active"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <!-- End of pagination links -->
    <!-- Footer Begins -->
    <section class="footer py-3">
      <div class="container text-center">
        <p class="lead">Event Manager App by Godwin Ekuma: Aspiring Andela Developer</p>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vegas.min.js"></script>
    <script src="js/wow.min.js"></script>
    </body>
</html>