<!doctype html>
<html lang="en">
  <head>
    <title>Event Manager</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/vegas.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <body>
    <!-- The navigation bar begin -->
    <nav class="navbar navbar-expand-lg navbar-custom">
      <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" class="navbar-logo-img mr-2" alt="">
            Event Manager
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
            </ul>
            
           <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="events.html" class="nav-link create-recipe-link">Events <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="create-event.html" class="nav-link create-recipe-link">Create Event <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="event-centers-admin.html">Event Centers <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link" href="create-event-center.html">Create Event Centers <span class="sr-only">(current)</span></a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </form>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <img class="mr-2 navbar-profile-image rounded-circle" src="images/avatar.jpg" alt="Event App Developer">
                      Godwin Ekuma
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Sign Out</a>
                    </div>
                </li>
            </ul>
        </div>
      </div>
    </nav>
   <!-- The navigation bar Ends -->
   <!-- Event Details Begins -->
   <section>
     <div class="container my-5">
       <div class="row justify-content-center">
         <div class="col-sm col-lg-8">
           <div class="card">
            <img class="card-img-top " src="images/event-1.jpg" style="max-height: 400px;" alt="Card image cap">
            <div class="card-body">
              <div class="row">
                <div class="col-sm text-left">
                    <h4 class="card-title">Brava Event Place</h4>
                  </div>
                  <div class="col-sm text-right">
                    <p class="card-text lead">
                     <i class="ion ion-ios-location"></i>
                     Ikeja, Lagos</p>
                  </div>
              </div>
              <div class="row my-3">
                <div class="col-sm text-left">
                    <p class="card-text lead">
                     <i class="ion ion-iphone"></i>
                     +2348133512053
                  </p>
                  </div>
                  <div class="col-sm text-right">
                    <p class="card-text lead">
                     <i class="ion ion-email"></i>
                     hello@bravaevents.ng
                    </p>
                  </div>
              </div>
              <h5 >About Event Center</h5>
              <p class="card-text"> 
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 
              </p>
              <h5 >Event Center Facilities</h5>
              <div class="row">
               <div class="col">
                 <ul>
                   <li>Projector</li>
                   <li>Car Park</li>
                   <li>Car Park</li>
                   <li>Car Park</li>
                   <li>Car Park</li>
                   <li>Car Park</li>
                   <li>Car Park</li>
                   <li>Car Park</li>
                 </ul>
               </div>
               <div class="col">
                 <ul>
                   <li>Projector</li>
                   <li>Car Park</li>
                   <li>Car Park</li>
                   <li>Car Park</li>
                   <li>Car Park</li>
                   <li>Car Park</li>
                   <li>Car Park</li>
                   <li>Car Park</li>
                 </ul>
               </div> 
              </div>
            </div>
          </div>
         </div>
         <div class="col-lg-4 col-sm">
           <iframe src="https://calendar.google.com/calendar/embed?src=vud43nj68pf11pnu3rkpdcsuc8%40group.calendar.google.com&ctz=Africa%2FLagos" style="border: 0" width="250" height="250" frameborder="0" scrolling="no"></iframe>
         </div>
       </div>
     </div>
   </section>
    <!-- Footer Begins -->
    <section class="footer py-3">
      <div class="container text-center">
        <p class="lead">Event Manager App by Godwin Ekuma: Aspiring Andela Developer</p>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vegas.min.js"></script>
    <script src="js/wow.min.js"></script>
    </body>
</html>